#cityMsgMenuLeft.city-mng(data-cityid=`${user.cityId}`)
    .mucorp__info
      .mucorp__header
        img.mucorp__bg-img(src='/img/homepage/p1.jpg')
        .mucorp--name #{user.city} Municipal Corp.
          .mucorp__ratings
            .rating_cont_main_page Municipality Rating
            .review_star_cont_main_page
              //-Functions Related to Activation of star is available in profile.js
              
          
        .mucorp__review.mucorp__best-review
          button#up-new-post2(type='submit') View Review
        .mucorp__review.mucorp__worst-review