header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

#logo {
    color: white;
}

.navbar {
    padding:  3% 5% ;
}

.navbar-brand {
    font-size: 2.5em;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.nav-item {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}

.banner {
    position: relative;
    background: url('/images/bg.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 250px 0px 200px;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .active .nav-link {
    color: turquoise;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: white;
    padding: 10px 20px;
}

.content{
    text-align: center;
    padding: 0% 0;
}

.card {
    display: inline-block;
    margin: 8% 5%;
    text-align: center;
    height: 20rem;
    background-color: #212529;
}

.card:hover{
    box-shadow: 0 10px 30px #888888;
    background-color: #0E1317;
}

.card-header {
    font-size: 2.5em;
    padding: 5%;
    text-transform: uppercase;
    font-weight: 600;
}

.card-text {
    padding: 5%;
    text-transform: uppercase;
}

footer {
    text-align: center;
    padding: 2% 8%;
    background-color: turquoise;
    margin-top: 5%;
}

.row{
    margin-top: 5%;
}


