a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#logo {
    color: white;
}

.navbar {
    padding:  3% 5% ;
}

.navbar-brand {
    font-size: 2.5em;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.nav-item {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .active .nav-link {
    color: turquoise;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: white;
    padding: 10px 20px;
}

footer {
    text-align: center;
    padding: 2% 8%;
    background-color: turquoise;
}

@media (max-width:992px){

}

.container{
    margin-top: 20% ;
    margin-bottom: 2%;
    text-align: center;
}

:root{
    --Playfair: 'Playfai Display' , serif;
    --Quicksand: 'Quicksand' , sans-serif;
    --Roboto: 'Roboto' , sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
   
   
   }
   
   *{
     padding: 0;
     margin: 0;
     font-family: var(--Quicksand);
   
   
   }
   img{
       width: 120%;
       display: block;
       
   
   }
   body{
   
       line-height:1.4;
       color: var(--dark);
   
   }
   
   .container{
       max-width :1320px;
       margin: 0 atuto;
       padding: 0 1.2rem;
   }
   
   /*header*/
   header{
       min-height: 70vh;
       background-image: url("/images/internship_bg.jpg")   ;
       display:flex;
       flex-direction: column;
       justify-content: stretch;
   
       
       
   }

   .hide{
       display: none;
   }

   .card{
       display: inline-block;
       margin: 3%;
   }
    
   .banner{
       flex: 1;
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       color: #2b2b2b;
   
   }
   .banner-title{
       font-size: 3rem;
       font-family: var(--Playfair);
       line-height: 1.2;
   }
   .banner-title span{
       font-family: var(--Playfair);
       color: var(--exDark);
   
   }
   .banner p{
       padding: 1rem 0 2rem 0;
       font-size: 1.2rem;
       text-transform: capitalize;
       font-family: var(--Roboto);
       font-weight: 300;
       word-spacing: 2px;
   }
   .banner form{
       background: #2b2b2b;
       border-radius: 2rem;
       padding: 0.6rem 1rem;
       display: flex;
       justify-content: space-between;
   
   }
   .search-input{
       font-family: var(--Roboto);
       font-size: 1.1rem;
       width: 90%;
       outline: 0;
       padding: 0.6rem 0;
       border: none;
       
   }
   .search-input::placeholder{
       text-transform: capitalize;
       color: #2b2b2b;
   }
    .search-btn{
        width: 40px;
        font-size: 1.1rem;
        color: var(--dark);
        border: none;
        background:tranparent;
        outline: 0;
        cursor: pointer;
        
    }
   
    .blog{
        background: #f9f9f9;
        padding: 4.5rem 0;
    }
    .title{
        text-align:center;
        padding: 1rem 0;
   
    }
    .title h1{
        font-family: var(--Playfair);
        font-size: 4rem;
    }
    .title p{
        text-transform: uppercase;
        padding: 1rem 0;
        font-size: 1.5rem ;
    }
   
   
    
    .blog-img{
        position: relative;
    }
    .blog-item:hover img{
        transform: scale(1.2);
    }
    .blog-img span:first-of-type{
        position: absolute;
        z-index: 1;
        top:10px;
        left: 10px;
        background: var(--exDark);
        color: #fff;
        padding: 0.25rem 1 rem;
    }
    .blog-img span{
        position: absolute;
        bottom: 100px;
        right: 10px;
        background: var(--exDark);
        color: #fff;
        font-size: 1.4rem;
        padding: 0.3rem 0.6rem;
   
        
    }
    .blog-text{
        margin:2.2rem 0;
        padding: 0 1rem;
    }
   .blog-text span{
       font-weight: 300;
       display: block;
       padding-bottom: 0.5rem;
   }
   
   .blog-text h1{
       font-family: var(--Playfair);
       padding: 1rem 0;
       font-size: 1.65rem;
       font-weight: 500;
   
   }
   .blog-text p{
       font-weight: 300;
       font-size: 1.1rem;
       opacity: 0.9;
       padding-bottom: 1.2rem;
   }
   .blog-text a{
       font-family: var(--Roboto);
       font-size: 1.1rem;
       text-decoration: none;
       color: var(--dark);
       display: inline-block;
       background: var(--dark);
       color: #fff;
       padding: 0.55rem 1.2 rem;
       transition: all 0.5s ease;
   
   
   }
   .blog-text a:hover{
       background: var(--exDark);
   
   }
   
   @media screen and (min-width: 540px){
       .navbar-nav a{
       padding-right: 1.2rem;
       padding-left: 1.2rem;
       }
       .banner-title{
           font-size: 5rem;
       }
       .banner form{
           margin-top: 1.4rem;
           width: 80%;
           margin-left: auto;
           margin-right: auto;
       }
       @media screen and (min-width: 768px){
           .navbar .container{
             display: flex;
             align-items: center;
             justify-content: space-between;
   
   
           }
           .search-input{
               padding: 0.8rem 0;
           }
           .blog-item{
               width: 20%;
               display : inline-block;
               gap: 2rem;
               cursor: pointer;
               padding: 0;
               margin-left: 5% ;
               margin-right: 5%;
           
           }
           
       }
       .write{
           height: 50px;
           width: 300px;
           margin-top: 2%;
           background-color: aqua ;
           border: 1px yellow;
           font:var(--Roboto);
           cursor: pointer;
       }
   
           
   
   }

.hide{
    display: none;
}

#livesearch {
    background-color: whitesmoke;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.input-group{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
}