<link rel="stylesheet" href="/css/footer.css">

<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="f-footer">
    <div class="f-container">
        <div class="f-row">
            <div class="f-footer-col">
                <h4>BitMart</h4>
                <ul class="f-ul">
                    <li><a href="/aboutus">About Us</a></li>
                    <!-- <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li> -->
                </ul>
            </div>
            <div class="f-footer-col">
                <h4>Navigate</h4>
                <ul class="f-ul">
                    <li><a href="/">Home</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/wishlist">Wishlist</a></li>
                    <li><a href="/products">Products</a></li>

                </ul>
            </div>
            <div class="f-footer-col">
                <h4>Our Team</h4>
                <ul class="f-ul">
                    <li>
                        <h4>Linken Vashistha</h4>
                    </li>
                    <li>
                        <h4>Dewansh Chandra</h4>
                    </li>
                    <li>
                        <h4>Parthiv Sarkar</h4>
                    </li>
                </ul>
            </div>
            <div class="f-footer-col">
                <a href="/"><img
                        src="https://res.cloudinary.com/dewansh/image/upload/v1641150658/BitMart/Products/BitMart-Logo-removebg-preview_1_ldubwc.png"
                        alt="" id="footerImg"></a>
            </div>
        </div>
        <h3 class="f-h3">© Copyright 2022 &nbsp;&nbsp;&nbsp;@DLP</h3>
    </div>
</footer>