<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 error page</title>
    <link rel="icon" href="https://res.cloudinary.com/dewansh/image/upload/v1641149333/BitMart/Products/logo_lexsox.png">
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <p>HTTP:
        <span><%= status %> </span>
    </p>
    <code><span>this_page</span>.<em>not_found</em> = true;</code>
    <code><span>if</span> (<b>you_spelt_it_wrong</b>) {<span>try_again()</span>;}</code>
    <code><span>else if (<b>we_screwed_up</b>)</span> {<em>alert</em>(<i>"We're really sorry about that."</i>); <span>window</span>.<em>location</em> = home;}</code>
    <center><a href="/">HOME</a></center>
</body>
<script src="/js/404.js"></script>

</html>