<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="https://res.cloudinary.com/dewansh/image/upload/v1641149333/BitMart/Products/logo_lexsox.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css">
    <link rel="stylesheet" href="/css/aboutus.css">
</head>

<body>
    <%- include('partials/backtotop') %> 
    <h6><a href="/"><img class="img-fluid" style="height: 10rem;"
                src="https://res.cloudinary.com/dewansh/image/upload/v1641150658/BitMart/Products/BitMart-Logo-removebg-preview_1_ldubwc.png"
                alt=""></a></h6>
    <div class="card">
        <div class="card-container">
            <div class="row">
                <div class="col-5">
                    <img class="round" src="https://res.cloudinary.com/dewansh/image/upload/v1641152012/BitMart/Products/parthiv_lffrar.jpg" alt="user" />
                    <h3>Parthiv Sarkar</h3>
                    <h6>Jamshedpur</h6>
                    <p>Full-Stack Developer</p>
                    <div class="buttons">
                        <a href="https://github.com/parthiv360" target="blank">
                            <button class="primary">
                                <i class="fab fa-github"></i>
                                <span>Github</span>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/parthiv-sarkar-0a754b203/" target="blank">
                            <button class="primary">
                                <i class="fab fa-linkedin"></i>
                                <br>
                                <span>LinkedIn</span>
                            </button>
                        </a>
                    </div>
                    <div class="skills">
                        <h6>Skills</h6>
                        <ul>
                            <li>Competitive Programming</li>
                            <li>C/C++</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>React</li>
                            <li>Django</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="card-container">
            <div class="row">
                <div class="col-5">
                    <img class="round img-fluid" src="https://res.cloudinary.com/dewansh/image/upload/v1641615667/BitMart/Products/20200204_213255_pr96he.jpg" alt="user" />
                    <h3>Dewansh Chandra</h3>
                    <h6>Jamshedpur</h6>
                    <p>Full-Stack Developer</p>
                    <div class="buttons">
                        <a href="https://github.com/Dewansh36" target="blank">
                            <button class="primary">
                                <i class="fab fa-github"></i>
                                <span>Github</span>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/dewansh-chandra/" target="blank">
                            <button class="primary">
                                <i class="fab fa-linkedin"></i>
                                <br>
                                <span>LinkedIn</span>
                            </button>
                        </a>
                    </div>
                    <div class="skills">
                        <h6>Skills</h6>
                        <ul>
                            <li>Competitive Programming</li>
                            <li>C/C++</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>React</li>
                            <li>Node</li>
                            <li>Mongo DB</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="card-container">
            <div class="row">
                <div class="col-5">
                    <img class="round img-fluid" src="https://res.cloudinary.com/dewansh/image/upload/v1641152012/BitMart/Products/linken_x5rhid.jpg" alt="user" />
                    <h3>Linken Vashistha</h3>
                    <h6>Jamshedpur</h6>
                    <p>Full-Stack Developer</p>
                    <div class="buttons">
                        <a href="https://github.com/linkenvashistha" target="blank">
                            <button class="primary">
                                <i class="fab fa-github"></i>
                                <span>Github</span>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/linken-vashistha-25a717200/" target="blank">
                            <button class="primary">
                                <i class="fab fa-linkedin"></i>
                                <br>
                                <span>LinkedIn</span>
                            </button>
                        </a>
                    </div>
                    <div class="skills">
                        <h6>Skills</h6>
                        <ul>
                            <li>Competitive Programming</li>
                            <li>C/C++</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>React</li>
                            <li>Node</li>
                            <li>Mongo DB</li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>