<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/aboutus.css">
<%- include("partials/header2"); -%>

<section class="banner">
    <div class="container">
        <h2>Who we are</h2>
        <p class="heading">Developers, thinkers & collaborators</p>
    </div>
</section>
<div class="content">
    <h6>
        Public Learning platform designed to facilitate collaborative learning and catering to the needs of students consisting academic resources, job/internship data, a forum for personal and general queries and all other student-related requirements. It will help individuals explore various domains with the right path and a proper roadmap along with like minded people helping out each other.
    </h6><br>
    <h4>What is public learning?</h4>
    <h6>
        Public learning is basically the process of documenting something u learn or come to know about and putting it out for the world to see/contribute/collaborate on.
    </h6>
    <h6>
        Public learning is emerging as the most effective and widely used learning technique.Basically if you have taken help from any of these websites like stackoverflow,wikihow,reddit,youtube..you are a part of it as you have used knowledge available in the public contributed and developed by people just like us and used it for your own purpose.
    </h6>
    <h6>
        The aim of the website is to develop a community where users can add/share their learning progress/resources utilized and experiences about the same, It can be in the form of blogs or through forum discussion threads.
    </h6><br>
    <h4>There are three main sections of this website.</h4>
    <ul>
        <li>The first one is the resources page which consists of all the resources for their academic and placement purposes.</li>
        <li>The second one is the interview-experiences page which consists of the interview experiences of different companies.</li>
        <li>The last one is the forum page where one can ask their personal or general doubt. </li>
    </ul><br>
    <h5>Every page has a write button from where the users can add the resources, their interview-experiences and queries in resources, internship and forum page respectively.</h4><br><br>
    <h4>The advantages of this website are:-</h4>
    <ul>
        <li>Users can find all the resources of different domains at one place which helps them to save their time and energy.</li>
        <li>Most of the students face huge difficulties during interview preparation. Reading other's experiences helps them to know about the interview process for different companies of different domains.</li>
        <li>Users can also ask their doubts too.</li>
    </ul><br><br>
    <h3>Meet OUR TEAM</h3><br>
    <div class="team">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/Nishant.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nishant Biyani</h5>
              <p class="card-text">Currently pursuing his graduation in electronics and communication engineering from BIT Mesra</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/kajal.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kajal Kiran</h5>
              <p class="card-text">Currently pursuing her graduation in electronics and communication engineering from BIT Mesra</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/hammad.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hammad Khalid</h5>
              <p class="card-text">Currently pursuing his graduation in electronics and communication engineering from BIT Mesra</p>
            </div>
          </div>
    </div>
    
</div>

<%- include("partials/footer"); -%>