<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/home.css">
<%- include("partials/header2"); -%>

    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>An Investment in knowledge pays the best interest.</h1><br>
                    <h1></h1>
                </div>
            </div>
        </div>
    </section>
    <section class="container content">
        <a href="/resources">
            <div class="card text-white mb-3" style="max-width: 30rem;">
                <div class="card-header">Resources</div>
                <div class="card-body">
                  <p class="card-text">Look for resources of the domain you want to master, and see how other people did it.</p>
                </div>
              </div>
        </a>
        <a href="/internship">
            <div class="card text-white mb-3" style="max-width: 30rem;">
                <div class="card-header">Experience</div>
                <div class="card-body">
                  <p class="card-text">Checkout experience of people sitting for interviews</p>
                </div>
              </div>
        </a>
    </section>


<%- include("partials/footer"); -%>

