<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Hub</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
    <p class="title">Sudent Hub</p>
    <a href="/"><p class="home">Home</p></a>
    <div class="signup">
    <p class="heading">Welcome back</p><br>
    <form style="margin-top: 4%;" id="signup_form" action="/signin" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" required><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" required><br>
        <button class="submit" type="submit">Signin</button>
    </form>
    <p>Not signed in, <span><a class="login" href="/signup">Create an account</a></span></p>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="app.js"></script>
</body>
</html>