<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/verification.css">
</head>
<body>
    <form action="/verification" method="post" class="verification-form">
        <div class="form-group">
          <label for="exampleInputEmail1">A 6-digit code has been sent to your email, please verify.</label><br>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Verify" name="code" required>
          <small id="emailHelp" class="form-text text-muted">Please check for mail in spams section too</small>
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>