#btop {
  display: inline-block;
  background-color: #45ccb8;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#btop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#btop:hover {
  cursor: pointer;
  background-color: coral;
  text-decoration: none;
}
#btop:active {
  background-color: #555;
}
#btop.show {
  opacity: 1;
  visibility: visible;
}
