@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.f-h3 {
  text-align: center;
  color: #ffffff;
  margin-top: 2rem;
}
.f-container {
  max-width: 1170px;
  margin: auto;
}
.f-row {
  display: flex;
  flex-wrap: wrap;
}
.f-ul {
  list-style: none;
}
.f-footer {
  background-color: #24262b;
  padding: 70px 0;
}
.f-footer-col {
  width: 25%;
  padding: 0 15px;
}
.f-footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.f-footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.f-footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.f-footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.f-footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.f-footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.f-footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
#footerImg {
  max-width: 25vw;
}
/*responsive*/
@media (max-width: 996px) {
  #footerImg {
    max-width: 20vw !important;
    height: 7rem;
  }
}
@media (max-width: 574px) {
  .f-footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
  #footerImg {
    max-width: 60vw !important;
  }
}
