@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  background-color: #2a2b38;
}
:root {
  --primary-color: #45ccb8;
  --light-gray: #2b3032a1;
  --border: #2b303218;
  --text-color: #ff686b;
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", cursive;
  --sofia: "Sofia", cursive;
}

.primary-color {
  color: var(--primary-color);
}
.bg-primary-color {
  background-color: var(--primary-color) !important;
}
.text-color {
  color: var((--text-color));
}
.font-roboto {
  font: var(--roboto);
}
.lightblue {
  background-color: lightblue;
}
.site-slider {
  position: relative;
}
.position-top {
  position: absolute;
  top: 50%;
}
.site-slider .slider-btn .prev,
.site-slider .slider-btn .next {
  background-color: var(--primary-color);
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  color: white;
  margin: 0 1rem;
  opacity: 0;
  transition: opacity 1s ease;
}
.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next {
  opacity: 1;
}
.right-0 {
  right: 0;
}
.img-poster {
  width: 100%;
  height: 70vh;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
}
.img-fluid {
  width: 100%;
  height: 70vh;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
}
.slick-dots li button {
  width: 0.5rem;
  height: 0.5rem;
  padding: 0;
  /* border: none; */
  background-color: white;
  text-indent: -99999px;
  border-radius: 100%;
}
.slick-dots .slick-active button {
  transform: scale(2.5);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}

.site-btn .btn-span {
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 1px solid var(--border);
  background-color: white;
  color: var(--light-gray);
}

.section {
  padding: 3rem 0 3rem 0;
}
.section .title {
  text-align: center;
  margin-bottom: 3rem;
}
.section .title h2 {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.section .title span {
  color: var(--primary-color);
}
.category-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 0 6rem;
}
.category-item {
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.category-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 300ms ease-in-out;
}
.category-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 3;
}
.category-content h3 {
  background-color: black;
  border-radius: 5rem;
  padding: 0.7rem 1.4rem;
  font-size: 1.7rem;
  font-weight: inherit;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
}
.category-content a {
  transition: all 300ms ease-in-out;
  font-size: 1.4rem;
}
.category-content a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
.category-item:hover .category-content h3 {
  background-color: white;
  color: black;
}
.category-item:hover img {
  transform: scale(1.2);
}
.category-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}
.category-item:hover::after {
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 1200px) {
  .category-content h3 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 996px) {
  .category-layout {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1rem;
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 567px) {
  .category-layout {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 1rem;
    gap: 1rem;
  }
}
/* Products */
.section .product-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}
.product {
  overflow: hidden;
}
.product .img-container {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.product .img-container img {
  object-fit: contain;
  height: 50vh;
}
.product .bottom {
  padding: 1rem;
  text-align: center;
}
.product .bottom a {
  margin-bottom: 1rem;
  font-weight: inherit;
  font-size: 1.5rem;
  transition: all 300ms ease;
  color: rgb(32, 169, 211);
}
.product .bottom a:hover {
  color: rgb(32, 169, 211);
  text-decoration: none;
}
.product .bottom span {
  color: rgb(32, 169, 211);
  font-size: 1.8rem;
}
.product .addCart {
  position: absolute;
  right: 0;
  bottom: 0.6rem;
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}
.product:hover .addCart {
  border-radius: 1rem 0 0 0;
}
.product:hover .addCart:hover {
  background-color: var(--text-color);
  color: white;
}
.product i {
  transition: all 300ms ease;
}
.product .side-icons {
  position: absolute;
  right: 0;
  top: 30%;

  transform: translate(80%, -50%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 500ms ease-in-out;
}
.product .side-icons span {
  font-size: 1.4rem;
  background-color: white;
  margin: 0.3rem;
  padding: 1rem 1.3rem;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.product .side-icons span:hover {
  background-color: var(--primary-color);
  color: white;
}
.product:hover .side-icons {
  transform: translate(0%, -50%);
}
@media only screen and (max-width: 996px) {
  .section .product-layout {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 567px) {
  .section .product-layout {
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
.b-btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.b-btn:active,
.b-btn:focus {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.b-btn:hover {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.content {
  flex: 90%;
}
.tag {
  border-radius: 2rem;
  cursor: none;
}
