@media only screen and (max-width: 800px) {

body{
}
    .app-wrapper {
        grid-template-columns: none;
        overflow: hidden;
    }

    /* left side */
    .nav{
    display: none;
    position: relative;
    top: 9%;
    left: 0;
    background-color: #fff; 
    /* border: 2px solid red; */
    /* height: 100vh; */
    overflow: hidden;
 /* z-index: 10; */
 
    }

.show_menu_bar{
    display: block ;
}
.hidden{
    display: none;
}

.tl__banner{
    position:fixed;
    /* border:1px solid blue; */
    width: 100vw;
    overflow: hidden;
    /* z-index: 5000; */
}
.posts{
    position: relative;
    /* border: 2px solid rosybrown; */
    overflow: hidden;
    max-width: 100vw;
    margin-top: 4rem;
}
.post__modal{
    margin-top: 4rem;
    z-index: 15;
}
/* middle menu  */
.timeline{
    /* z-index: -4;  */
    top: 10;
    position:absolute;
    left: 0;
}
.menu_bar-icon{
    display: block;
  }
  
.home_menu_bar{
    display: none;
}


/* right menu */
.city-mng{
    display: none;
background-color: rgb(255, 255, 255);
top: 9%;
position:absolute;
left: 0;
width: 100%;
/* z-index: 10; */
}

.show_rating_bar{
    display: block ;
}
.post__modal {
margin-top: 0px;
}

/* your posts  */
.first_container_your_posts{
/* border: 2px solid red; */
height:  4rem;
width: 100vw;

display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 1rem;

}
.cross_yourPost{
    color: darkgray;
    background: rgb(229, 231, 231);
    width: 2rem;
    border-radius: 50%;
}
.icon_yourPost{
    color: rgb(110, 110, 110);

}
.usr_post-cat{
    list-style: none;
    flex-direction: column;
    /* border: 2px solid blue; */
    /* margin:0px 4rem; */
    background: #fff;
    position:absolute;
    width: 100%;
    display: none;
    z-index: 12;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.usr_post-cat-button{
    margin:4px 4rem;
    padding: 0.7rem 1rem;
}

.show_icon_Filter{
    display: flex;
}
.usr_posts-container{
    opacity: 1;
    /* background:#fff; */
    
}
.usr_posts-container_show{
    opacity: 0.1;
    /* background: red; */
}

.hide_yourpost{
display: none;
}
.usr_posts-container{
    width: 100vw;
}
.usr_post__box{
    flex-basis: 100%;
}

/* profile update  */
.profile__modal {
/* background-color: chartreuse; */
position:absolute;
left: 0;
top: 0%;
width: 100%;

}
.usr_prf-edit {
display:block;
}



/* reply model */
.replymodel_post{
    top: 0rem;
    left: 0%;
    height: 44vh;
    width: 100vw;
  }
  .comment_reply_model input {
    width: 100%;
}
.file_model_reply {
  
    width: 100%;
   
}
/* img model  */

.img_container_main {
width: 90vw;
z-index: 2000;
}
.img_model_content img {
    width: 100%;
}
.next_btn_img_model {
    font-size: 3rem;
}

.prev_btn_img_model {
    font-size: 3rem;
}



/* ///////////////////////////// */

.menu_bar_PostDetails {
width: 100vw;
margin-top: 4rem;
position:fixed
;
}
.replymodel_post {
padding: 12px 12px;
}

.post_icon_cont{
    position: fixed;
    bottom: 6%;
    left:  77%;
}
/* ////////////////////////// */
.img_model_slide{
    z-index: 2000;
    height: 100vh;
    width: 100vw;
    margin: auto;
    position: absolute;
    top: 0vh;
    left: 0vw;

}
.img-slide_container_02{ 
width: 90vw;
height: 60vh;
}


}

@media only screen and (max-width: 400px) {

    .usr_prf-boxes {
        display:block;
    }
    .usr_pwd-boxes {
        display:block;
    }
    #usr_info_save-changes, #usr_confirm-change-pwd {
font-size: 0.7rem;
    }
}


