<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/internship_write.css">
<%- include("partials/header2"); -%>

<div class="container">
    <form action="/internship/write" method="post" class="input-form">
        <input type="text" name="title" placeholder="Title" required class="input-field small"><br><br>
        <input type="text" name="company" placeholder="Company" required class="input-field small"><br><br>
        <textarea name="content" id="" cols="30" rows="10" placeholder="Write here.." class="input-field" required></textarea><br><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include("partials/footer"); -%>