a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#logo {
    color: white;
}

.navbar {
    padding:  3% 5% ;
}

.navbar-brand {
    font-size: 2.5em;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.nav-item {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .active .nav-link {
    color: turquoise;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: white;
    padding: 10px 20px;
}

footer {
    text-align: center;
    padding: 2% 8%;
    background-color: turquoise;
}

@media (max-width:992px){
    .col {
        display: block;
    }
}

.container{
    margin-top: 12% ;
    margin-bottom: 2%;
    text-align: left;
}

.col {
    display: inline-block;
    margin-top: 2%;
}

.content {
    width: 70%;
    text-align: left;
    margin-top: 0%;
}

.search {
    position: fixed;
    right: 5%;
    width: 25%;
    float: right;
}

.card {
    display: inline-block;
    color: black;
    margin: 3%;
}

.card:hover{
    box-shadow: 0 10px 30px #888888;
}

.card-header {
    color: black;
    padding: 5%;
    text-align: center;
    font-size: larger;
}

.card-text {
    color: black;
    padding: 5%;
    text-align: center;
}

.search-guide {
    padding: 3%;
    color: gray;
    margin-bottom: 8%;
}

.popular-topics {
    margin: 0;
    padding: 0;
    height: 18rem;
}

.popular-topics > ul {
    padding: 3%;
}

.popular-list {
    display: block;
}

.article-option {
    display: block;
}

.article-options {
    position: fixed;
    right: 5%;
    width: 25%;
    bottom: 5%;
    /* float: right; */
}

.add-button > .btn {
    width: 100%;
    margin-top: 2%;
}

.hide{
    display: none;
}

#livesearch {
    background-color: whitesmoke;
}