body{
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#logo {
    color: white;
}

.navbar {
    padding:  3% 5% ;
}

.navbar-brand {
    font-size: 2.5em;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.nav-item {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .active .nav-link {
    color: turquoise;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: white;
    padding: 10px 20px;
}

footer {
    text-align: center;
    padding: 2% 8%;
    background-color: turquoise;
}

.container{
    margin-top: 20% ;
    margin-bottom: 5%;
    text-align: center;
}

@media (max-width:992px){

}

.input-form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.input-field{
    width: 100%;
    border-radius: 4px;
    padding: 2%;
}

.small{
    height: 3rem;
}

.btn{
    width: 50%;
    padding: 1%;
}