#outer-div{
    
    
    width:100vw;
    padding-top:2%;
    display: flex;
    flex-direction:row;
    
    background-color: #F5F5F5;
}
#left-profile-data{
    
    flex-basis: 23%;
    
    display: flex;
    
    flex-direction: column;

}
#right-profile-data{
    
    flex-basis: 70%;
}
.left-card{
    box-shadow: 0 3px 9px 0 rgb(226, 225, 225);
    border-radius:10px;
    padding:4%;
    margin-bottom:5%;
    /* border:1px solid black; */
    background-color:#FFF;
    flex-basis: 20%;
    width:96%
}
#profile-summary-card{
    margin-top:4%;
    margin-bottom:15%
}
#profile-heading{
    font-weight: 700;
    font-family: Arial,Helvetica,sans-serif;
    font-family: var(--font-family-text);
    margin: 20px 0 0;
    text-transform: capitalize;
    word-break: break-all;
    font-size: 26px;
    line-height: 1.2;
    
}
#initials-avatar{
    background-size: cover;
    
    font-size: 27px;
    
}
#profile-user-name{
    font-weight: 400;
    font-family: monaco,Courier,monospace;
    font-family: var(--font-family-input);
    margin-top: 0;
    margin-bottom: 15px;
    color: #576871;
    font-size: 16px;
    
}
#initials-avatar img{
    border-radius:10px;
    width: 80px;
    height: 80px;
}
#initials-avatar i{
    font-size: 1.1rem;
    color:#085C8E
}
.summary-edit-button{
    background:transparent;
    outline:none;
    width:fit-content;
    border:none;
    height:fit-content;
    
}
#tsparticles{
    z-index: -1;
}
.profile-about{
    font-weight: 400;
    font-family: monaco,Courier,monospace;
    font-family: var(--font-family-input);
    margin-top: 0;
    margin-bottom: 15px;
    color: #576871;
    font-size: 14px;
}
.info-container{
    margin-bottom: 35px;
}
.summary-edit-button i{
    font-size: 1.1rem;
    color:#085C8E
    
}

.about-class[type="text"]::placeholder{
    text-align:top;
}
.right-card{
    margin-left: 7%;
    
    box-shadow: 0 3px 9px 0 rgb(226, 225, 225);
    border-radius:10px;
    min-height:175px;
    width:90%;
    margin-bottom:5%;
    /* border:1px solid black; */
    background-color:#FFF;
    max-height:470px;
}
#submissions-box{
    display: flex;
    flex-direction: column;
    overflow:auto;
    max-height:400px;
}
#profile-submissions{
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 15px;
    min-height:65px;
}
#ques-link{
    flex-basis: 50%;
    align-self:flex-start;
    text-decoration:none;
    color:#302f2f;
    font-weight:bolder;
}
#solu-link{
    flex-basis: 35%;
    text-decoration:none;
    color:rgb(58, 154, 233);
}
#verdict-text{
    flex-basis: 35%;
    text-decoration:none;
    max-width:5vw;
}
@media screen and (max-width:740px){
    #outer-div{
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
    .right-card{
        width:95%;
        margin-left:0%;
    }
    .left-card{
        margin-left:0%;
    }
}