/* .ok {
  margin-left: 4rem;
} */

.bye{
  margin: 0 6vw;
}
header {
  background-color: #000000;
  margin: auto ;
  padding: 16px 32px;
  border-radius:  0 0 25px 25px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-weight: 200;
  text-align: center;
  margin:auto;
 
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  /* background: rgb(255, 255, 255); */
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 20vw;
  
  margin: 1rem;
  float: left;
  background-color: white;

}
.note h3 {
  font-size: 1rem;
  margin-bottom: 6px;
  color:#222024;
  
  margin:auto;
  word-wrap: break-word;

  /* visibility: visible; */
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #222024;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #000000;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: white;

}



form.create-note {
  position: relative;
  width: 60vw;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  overflow: hidden;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.ok{
  display: flexbox;
  flex-direction: column;
  align-items: center;
 margin-left: 4rem;
  
}
@media screen and (max-width: 960px) {
  .ok{
    display: flexbox;
    flex-direction: column;
    align-items: center;
   
    
  }
  .note {
    width: 40vw;
  }
}


@media screen and (max-width: 767px) {
  .ok{
    display: flexbox;
    flex-direction: column;
    align-items: center;
   margin-left: 0%;
    
  }
  .note {
    width: 40vw;
  }
}

@media screen and (max-width: 600px) {
  .ok{
   display: flex;
   flex-direction: column;
   align-items: center;
    margin-left: 0%;
     
   }
  .note{
     width: 80vw;
     min-height: 100%;
  }
}

/* @media screen and (max-width: 400px) {
  .note{
     width: 80vw;
     min-height: 100%;
  }
} */