@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');

:root {
  /* Colors */
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;
  --background: rgba(137, 171, 245, 0.37);



  /* --background: #ffffff; */

}

html {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var(--background); */
  font-family: "Montserrat", sans-serif;
  /* background-image: url("https://www.transparenttextures.com/patterns/cubes.png"); */



  /* background-image: url('../assets/newspaper.jpg'); */
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);

  color: black;
  margin: 0;
  padding: 0;
}

.clear{
  height: 100%;
 
}
h1{
 color: black; 
}
.nav-menu{
display: none;
}
.nav-menu-active{
  z-index: 1000;
}

/* news cards */
/* 
.card_main .cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card_main .cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .card_main .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .card_main .cards_item {
    width: 33.3333%;
  }
}

.card_main .card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_main .card_content {
  padding: 1rem;
}

.card_main .card_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_main .card_text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}



.card_main{
  max-width: 1200px;
  margin: 0 auto;
}

.card_main h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.card_main img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card_main .btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgb(0, 0, 0);
  border: 2px solid grey;
}

.card_main .btn:hover {
  background: transparent;
  color: black;
} */
