@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
 
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  overflow-x: hidden;
}
 
*::-webkit-scrollbar {
  display: none;
}

.home {
  border: 18px solid #8000FF;
  width:1500px;
  height: 685px;

  /* display: flex;
  flex-direction: column; */
  background-image: url("./images/HomePageBG.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.navbar button{
  margin-top: 10px;
  border-radius: 7px;
  background-color: white;
  width: 140px;
  height: 45px;
  padding: 0;
  color:black;
  font-size: medium;
  text-align: center;
  

}

.navbar h1 {
  margin-top: 15px;
}

.navbar h1 i{
color: white;
}
 .navbar {

  padding: 20px;
  display: flex;
  width: 100%;
  padding: 0px;
  flex-direction: row;
  justify-content: space-around;
  font-size: small;
  /* font-variant: small-caps; */
  /* max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2; */
}


.navbar h1 {
  color: #FFFFFF;
}

.navbar > button  > h1 {
  margin-top: 0px;
  font-size: 15px;
  background-color: white;
  color: black;
}

.navbar0 > button  > h1 {
  margin-top: 0px;
  font-size: 15px;
  background-color: white;
  color: black;
}

.searchPg {

  margin-top: 50px;
  margin-left: 270px;
  width: 1500px;
  height: 500px;
 /* background-color: greenyellow; */
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: space-around;

}

.textPart div{
  color: white;
  font-size: 100px;
  /* background-color: hotpink; */
  height: 250px;
  width: 1000px;
  font-weight: 500;

}



.searchPg input  {
  background-color: #8000FF;

  opacity: 0;
  outline:none;
  text-align: center;
  margin-top: 0px;
height: 90px;
width: 0px;
border-radius: 50px 0px 0px 50px;
margin: 0px;
padding: 0px;
font-size: 15px;
font-weight: 400;
}

.searchPg button  {
  outline: none;
  /* align-items: center; */
  height: 94px;
  width: 500px;
  border-radius: 50px;
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  font-weight: 200;
  }

a{
  text-decoration: none;
}

.searchPg input{
  background-color: white;
}

.searchPg button{
  background-color: white;
}
/* .about {
  margin-top: 80px;
  margin-left: 200px;
  display: flex;
  flex-direction:column;

  border-right: 50px solid #8000FF;
  width:1500px;
  height: 685px;
}
*/
 .teams {
   margin-top: 15px;
   margin-left: 200px;
   /* background-color: greenyellow; */
   width: 850px;
   display: flex;
   height: 640px;
   flex-direction: column;
   justify-content: space-around;
   /* align-items: center; */

  }
.teamsHeading {
  font-size: 70px;
  color: #8000FF;
  font-weight: 800;
}

 .aboutNavbar {
   /* background-color: red; */
   width: 300px;
 }

 .aboutToHome {
   background-color: blue;
   width: 100px;
 } 

.aboutA{
  width: 800px;
  /* background-color: hotpink; */
  display: flex;
  flex-direction: row;

 
}
 
.aboutA {
  border: 2px ;
  width: 1540px;
  height: 720px;
}

 .aboutContent {
   margin-top: 8px;
   margin-left: 40px;
   width: 1470px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;

 }
 .aboutMargin {

  width: 85px;
  background-color: #8000FF;
  

 }

 

 .memberInfo {
display: flex;
flex-direction: row;
border-radius: 10px 10px 10px 10px;
width: 610px;
height: 150px;
/* border: 2px solid red; */
/* box-shadow: 0px 4px 8px 0 rgb(65 93 202 / 21%), 0 6px 20px 0 rgb(6 12 152 / 19%); */
box-shadow: 13px 10px 17px 1px #5e70a924;
}

 .memberText {
  font-size: 25px;
  width: 510px;
  height: 145px;
  /* background-color: brown; */
 }
.memberText h3 {
 font-weight: 800;

}

 .memberPic {
 display: flex;
 align-items: center;
 justify-content: space-between;
  width: 140px;
  /* border: 2px solid blueviolet; */
  height: 140px;

 }

 .memberPic img {
   width: 140px;
   height: 120px;
 }

.vertNav {
  font-size: 25px;
  width: 160px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  font-weight: 500;
}

.blankSpace {
  height: 147px;
}

.blankSpaceN {

  border: 2px solid red;
  height: 200px;

  

}

.services {
  display: flex;
  flex-direction: row;
  width: 1540px;
  height: 722px;
margin: 0;
  padding: 0;
  /* border: 2px solid black; */

}

.mainServices{
  /* margin-left: 50x; */
width: 1470px;
/* background-color: hotpink; */
display: flex;
flex-direction: column;
}

.rightServices{
width: 85px;
background-color: #8000FF;
}

.blankServices {
  width: 1470px;
  height: 70px;
  /* background-color: rgb(231, 78, 7); */
}

.mainMS {
  margin-left: 80px;
  width: 1350px;
  height: 599px;
  /* background-color: rgb(35, 226, 162); */
  display: flex;
  flex-direction: column;

}

.headAndNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1300px;
  height: 330px;
  /* background-color: yellow; */
}

.cardArea{
  width: 1320px;
  height: 340px;
  /* background-color: orange;  */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature{
  background-color: #7b6bd32b;
  padding: 15px;
  width: 340px;
  height: 260px;
  /* background-color: violet; */
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 2px solid green; */
  border-radius: 16px;
 
}

.mainMSH {

  color: #8000FF;

  font-size: 94px;

}

.mainMSC {

  font-size: 28px;
  font-weight: 600;

}

div.MShead {
  width:900px ;
}

.msNav{

  width: 210px;
  height: 295px;
  /* background-color: tan; */
font-size: 22px;
font-weight: 600;

}

.featureIcon {
  
display: flex;
justify-content: center;
}

.featureHeading{
  font-weight: 800;
  display: flex;
justify-content: center;
}

.chatICON {
  border-radius: 14px;


}

.featureIcon img {
  width: 100px;
  height: 88px;
  border-radius: 10px;
}

select {
  width: 100px;
}
/* .aboutContent {

  background-color: greenyellow;
  width: 800px;



 } */


/*
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} */


/* .xxx {
  width: 500px;
  height: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: column;
} */

.lll {
  border: 2px solid red;
  height: 50px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.dta {
  border: 2px solid brown;
  width: 30px;
  padding: 10px;
  margin: 10px;
}

.lll button {
  margin: 30px;
  height:30px;
}

.navbar0 {
  width: 1540px;
  position: fixed;
  height: 60px;
  background-color: #8000FF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar0 h1 {
  font-size: 20px;
  margin-top: 6px;
}

.navbar0 button {
  background-color: white;
margin-top: 3px;
  width: 180px;
  height: 55px;
 
}

/* .navbar0 button h1 {
background-color: #dddfe2;
  color: #1d2129;
  font-size: medium;
} */

.navbar0 > button  > h1 {
  margin-top: 0px;
  font-size: 15px;
  background-color: white;
  color: black;
}

.navbar0 h1  {
  color: #fff;
}

.navbar0  i {
  
  color: #fff;
}



.filter {

  background-color: #fff;
  /* padding: 15px; */
  /* border: 2px solid red; */
  width: 250px;
  height: 500px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: 0 2px 20px 1px rgb(0 0 0 / 14%), 0 8px 16px rgb(47 36 53 / 6%); */
border-radius: 10px;
  /* box-shadow: 0 2px 20px 1px rgb(0 0 0 / 19%), 0 8px 16px rgb(47 36 53 / 18%); */
box-shadow: 1px 3px 20px 3px rgb(0 0 0 / 21%), 0 8px 16px rgb(47 36 53 / 9%);
  /*top:0px;
  left:0px; */
}

.filterButton {

  padding-bottom:20px ;
  /* border: 2px solid green; */
  width: 230px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.filterButton button{
  /* margin-bottom: 19px; */
  background-color: #8000FF;
  color: white;
  font-size: 16px;
  width: 170px;
  height: 40px;
  border-radius: 24px;
  border: none;
  /* background: none; */
}

.filterComponents h2 {
  font-size: 18px;
  
}


.btm {
  margin-top: 63px;
 /* background-color:rgb(190, 26, 26) ; */
 width: 1535px;

}
.allPgs{
  margin-left: 360px;

}


.filterComponents {

  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  
  height: 64px;
  width: 180px;
}

.allFilterComponent{
  width: 230px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: 2px solid blueviolet; */
}
 

.filterComponents select {
  width: 160px;
  border-radius: 4px;
 
  background-color: EFEBF4;
}

.slc {
  height: 30px;
}

.filterComponents option {
   font-size: 17px;
   
}


.pg-preview {
  /* background-color: wheat; */
  /* color: #333; */
  /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); */
  box-shadow: 0 2px 20px 1px rgb(0 0 0 / 19%), 0 8px 16px rgb(47 36 53 / 18%);
  /* background-color:    rgb(124, 20, 20); */
;
  display: flex;
  flex-direction: column;
  margin: 24px;
  margin-bottom: 35px;
  padding: 20px;
  /* background-color: ; */
 
  /* border: 2px solid red; */
  border-radius: 15px;
  width: 791px;
  height: 285px;
}

.pg-list {
 
  display: flex;
  flex-direction: row;
  /* height: 700px; */
}

.previewUp {
  /* text-decoration: underline; */
  margin-bottom: 16px;
  font-size: 19px;
  /* font-weight: 600; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 633px;
  height: 78px;
  /* border: 2px solid green; */
}

.pgLabel{
font-weight: 600;
}

.pgAddress {
font-weight: 500;
}

.previewDown {
  display: flex;
  flex-direction: row;
  width: 773px;
  height: 191px;
  /* border: 2px solid green; */
}
.pgDnLeft {

  width: 350px;
  height: 188px;
  /* border: 2px solid green; */
}
.pgDnRight {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 490px;
  height: 181px;
  /* border: 2px solid green; */
}

.security{
  width: 200px;
  height:100px;
  background-color: #E2DAEA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
/* border: 2px solid orangered; */
}

.rent{
  width: 200px;
  height: 100px;
  background-color: #E2DAEA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* border: 2px solid orangered; */

}


.securityData{

  /* border: 2px solid black; */

  width: 195px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 19px
}

.securityName{
  
  /* border: 2px solid black; */

  width: 195px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 19px
}

.rentData{
  
  /* border: 2px solid black; */

  width: 195px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 19px
}

.rentName{
  
  /* border: 2px solid black; */

  width: 195px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 19px
}
/* Signup/register */


/* .App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  font-family: Arial, sans-serif;
} */

.loginAndRegister {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f2edf8;
    font-family: Arial, sans-serif;
}


.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 50vw;
  height: 50vh;
  border-radius: 20px;
  box-shadow: 0 0 15px 5px grey;
  background: white;
  position: relative
}

.homepage > .button {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.login {
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.login > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.login > .button {
  background: #8000FF;
  /* border: 1px solid #1877f2; */
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}


.register {
  width: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.register > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}

.register > .button {
  background: #8000FF;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.pgDetail {
  width: 1530px;
  height: 800px;
  background-color: #F2EDF8;

/* border: 2px solid greenyellow; */
}

.mainPgDetail{
  position: fixed;
  margin-top: 110px;
  width: 1530px;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.imgVal{
  width: 450px;
  height: 250px;
}

.pgCard{


  margin-left: 90px;
  width: 1408px;
  height: 595px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: palegoldenrod; */
}

.commodity{
  height: 60px;
  /* background-color: rgb(236, 35, 169); */
}

.pgCardDn{
   width: 1400px;
  height: 400px;
  display: flex;
  overflow-y: hidden;
  flex-direction: row;
  align-items: center;
  margin-top: 17px;
  /* background-color: blanchedalmond; */
  /* justify-content: space-between; */
  /* border: 2px dotted brown; */
}

.pgCardUp{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 1300px;
  height: 100px;
  border: 2px solid #AD5BFF;

  /* background-color: palegreen; */
}

.noPM{
  margin: 0;
  padding: 0;
}

.pgCardInfo{
  width: 750px;
  height: 430px;
  /* background-color: cyan; */
 
  /* position: fixed; */
  /* display: flex; */
  /* flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; */
}

.addAndLabel{
 /* border-right: 2px solid #AD5BFF; */

  padding-left: 25px;
  width: 1010px;
  height: 90px;
  font-size: 18.4px;
/* background-color: powderblue; */
}

.rentAndSecurity{
  font-weight: 800;
  font-size: 18px;
  width: 380px;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
/* background-color: rgb(207, 15, 182); */
}

.imgVal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/* border:2px solid blueviolet; */
  width: 730px;
  height: 380px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.indiRent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-color: rgb(197, 52, 33); */
  width: 180px;
  height: 85px;
  border-left: 2px solid #AD5BFF;

}

.indiSecurity{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-color: rgb(197, 52, 33); */
  width: 180px;
  height: 85px;
  border-left: 2px solid #AD5BFF;
}
.slider  {
 /* margin-left: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  width: 740px;
  height: 420px;
}

/* .slider footer {
  display: flex;
  flex-direction: row;
  width: 200px;
} */

.slideBar {
  height: 54px;
  /* border: 2px solid red; */
  width:696px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slideBar img {
  

  background-color: #F2EDF8;
  width: 25px;
  height: 46px;
  /* border: 2px solid green; */
}

.currInfo{
  /* border: 2px solid black; */
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.pgCardInfo{

  font-weight: 700;
  /* background-color: aqua; */
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pci{
  border: 2px solid #AD5BFF;

  background-color: white;
  width: 480px;
  height: 75px;
  /* background-color: darkgoldenrod; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.pcr{
  border-right: 2px solid #AD5BFF;

}

.pcd{

  margin-left: 3px;
  margin-right: 3px;
  /* border-right: 2px solid #AD5BFF; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 62px;
  /* background-color: rgb(130, 241, 130); */
}

.chat{
  
  font-size: 23px;
 color: white;
  background-color: #8000FF;
}

.commodity{
  font-size: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: flex-start;
  
}

.profHead {
  font-size: 18px;
  /* margin-bottom: 5px; */
  margin-top: 70px;

  font-weight: 600;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items:flex-end;
  width: 990px;
  height: 60px;
  /* background-color: greenyellow; */
}

.profileName {
width: 605px;

  /* background-color: tomato; */
  display: flex;
  flex-direction: row;
align-items: flex-start;
}

 .emailName {
 
  width: 605px;
  /* background-color: tomato; */
  display: flex;
  flex-direction: row;
align-items: flex-start;
}

.profHead button{
  width: 70px;
  height: 30px;
}

.allPgh1{
  margin-left: 25px;
}


.mainProf{
  /* border: 2px solid yellow; */
  /* background-color: hotpink; */
  display: flex;
  flex-direction: column;
}

.noBookmark {
  font-weight: 600;
  font-size: 18px;
  width: 995px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background: chartreuse; */
}

.noPgFound{
  /* background-color: chartreuse; */
  font-weight: 700;
  font-size: 35px;
  width:400px;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: red;
}

.filterIcon{
  width: 70px;
  height: 70px;
  /* border: 2px solid red; */
  background-color: white;
}

/* previewUp
previewDown
pgDnLeft
pgDnRight */
