@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.post {
  width: 80vw;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(56, 23, 23, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin:25px auto;
background-color: #f7eae8;
background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}
.postTopRight {
  display: flex;
  align-items: center;
}



.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 0.1em;
    height: 0.1em;
    margin-right: 5px;
    cursor: pointer;
}

.commentIcon{
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.postText{
  
   color: #686262;
    font-weight: 500;
    font-size: 1.8rem;
    font-family: 'Indie Flower', cursive;
}