.feed{
position: absolute;
top: 0;    
}

.feedWrapper{
  padding: 20px;
}
/* 
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
} */
