</head>
<body>
  <header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-dark">
            <a id="logo" class="navbar-brand" href="/">Student-Hub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ms-lg-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/forum">Forum</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/helpdesk">Helpdesk</a>
                </li>
              </ul>
              <% if (bool) { %>
                <a href="/profile">
                  <button type="button" class="btn btn-lg btn-success" style="margin-right: 2%;"><i class="fas fa-user-circle"></i></button>
                </a>
                <h1>::</h1>
                <a href="/signin">
                  <button type="button" class="btn-lg btn-warning">Logout</button>
                </a>
              <% } else { %> 
                <a href="/signup">
                  <button type="button" class="btn btn-lg btn-success">Signup/ Login</button>
                </a>
              <% } %>
            </div>
        </nav>
    </div>
</header>
