#navbarSupportedContent {
   z-index: 10 !important;
   background-color: #fff !important;
}

.show {
   z-index: 10 !important;
   background-color: #fff !important;
}
body {
   padding-top: 50px;
   position: relative;
}

pre {
   tab-size: 8;
}

