.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
  }
  .avatar:hover{
    transform: scale(1.05);
    filter: grayscale(0.4);
  }