.card-title{
    color: white;
}

.channelVidcard{
    margin-bottom: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-body{
    padding: 0rem 1rem;
}
.channelVidCarTitle{
    color: #adadad !important;
    transition: 0.4s ;
    text-decoration: none !important;
}
.channelVidCarTitle:hover{
    color: white !important;
    text-decoration: underline !important;

}
.channelPageVidThumnail{
    width: 167px;
    height: 112px;
    object-fit: fill;
}

@media screen and (max-width: 768px){
    .channelPageVidThumnail{
        width: 330px;
        height: 185px;
    }   

}