.subscribedChannels{
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* border-bottom: solid white 2px; */
    /* border-top: solid white 2px; */
    background-color: #9091cd00;
}
.subscribedChannels::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width: 768px){
    .subscribed{
        background-size: contain !important;
    }
    
}
.subscribed{
    height: 50vh;
    margin-top: 7rem;
    background-image: url('../../images/nosubscriptions.svg');
    width: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
}

.individualSubscribedChannelCArd{
    width: 63px !important;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    padding: 0;
    margin-bottom: 0px;
    border: 2px solid #ffffff00;
    border-radius: 14px;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}