body{
    background-color: #181818 !important;
    color: white;
    scrollbar-color: blue;
}

.Row{
    display: flex;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    flex-wrap: wrap;
}
.mainPage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #818181; 
  }