::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(209, 209, 209);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: rgb(214, 214, 214);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 156, 156);
}

::selection {
  color: #ffffff;
  background-color: #64a5c4;
}