.problempage-heading{
    box-shadow: 0.1px 1px 4px 0 #e7eeef;
    height:70px!important;
}
#problemset-container{
    /* border: 1px solid black; */
    height:fit-content;
    


}
#problems-container{
    /* border: 1px solid black; */
    flex-basis:70%;
    padding:2%;
    padding-top:5%;
}
#tag-form-container{
    /* border: 1px solid black; */
    flex-basis:30%;
    padding:2%;
    padding-top:5%;
}
#status-input{
    padding-top:3%;
    padding-bottom:3%;
    
}
#difficulty-input{
    padding-top:3%;
    padding-bottom:3%;
}
#tags-input{
    padding-top:3%;
    padding-bottom:3%;
    margin-bottom: 7%;
}
#spinner{
    margin-top:25vh;
}
#problems-container{
    display: flex;
    flex-direction: column;
    max-height: 50vw;
    overflow:auto;
    align-items: center;
}
#problems-container::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width:740px){
    #problems-container{
        max-height: 75vw;
    }
}
@media screen and (max-width:500px){
    #tag-form-container{
        display: none;
    }
    #problems-container{
        max-height: 120vh;
        flex-basis:100%;
    }
    #problemset-container{

    }
}