/*.topContainer{
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    flex-wrap: wrap;
}*/

/*.filter{
    margin-left: 2%;
    border:2px solid #002607 ;
    width: 25%;
    background-color: white;
}
*/
.profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.boxy1{
    border:2px solid #002607 ;
    border-radius: 5px;
    background-color: #05FC2D ;
    margin: 2%;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 350px;
    max-height: 800px;
}

.subBoxy1{
    overflow: hidden;
    margin-left: 15%;
    width: 80%;
    transition:border-radius 1s
}
.subBoxy2{
    margin-left: 2%;
    margin-top: 5%;
    color: #18013E ;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2%;
    height: 170px;
    letter-spacing: 2px;
    font-size: 115%;
}

.subBoxy2 span{
    font-size: 0.7em;
}

.title{ 
    margin-top: 0%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-top: 2%;

}

#rupee{
    color: #020E39 ;
    margin-left: 5%;
    font-weight: bold;
    font-size: 105%;
    padding: 0%;}


.subBoxy2 details{
    margin: 5%;
}

.rating{
    margin-left: 5%;
    padding: 2%;
    font-size: 70%;
}

#star{
    color: #F7FF4C ;
    margin: 0%;
}

.address{
    margin: 5% 6%;
    font-size: 76%;
}

.usery{
    margin-top: 5%;
    width: 90%;
    height: 108px;
}

.heart{
    float: left;
    margin-top: -5%;
    margin-right: 40%;
}



    

    @media screen and (max-width:800px){
        .profile{
            width: 100%;
        }
        .boxy1{
            width: 28%;
        }


        
    }
    @media screen and (max-width: 670px){
        .boxy1{
            width: 35%;
        }
        .profile{
            justify-content: space-around;
        }
    }


@media screen and (max-width:565px) {
        
        .profile{
            width: 100%;
            align-content: center;
            justify-content: center;
        }

        .boxy1{
            width: 70%;
        }
    }