.useryProfile{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.Boxy1{
    border:2px solid #002607 ;
    border-radius: 5px;
    background-color: #05FC2D ;
    margin: 2%;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 360px;
    max-height: 800px;
}

.subyBoxy1{
    overflow: hidden;
    margin-left: 15%;
    width: 100%;
    transition:border-radius 1s
}
.subyBox2{
    margin-left: 2%;
    margin-top: 5%;
    color: #18013E ;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2%;
    height: 170px;
    letter-spacing: 2px;
    font-size: 115%;
}
.subyBox2 span{
    font-size: 0.7em;
}
.title{
    margin-top: 0%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-top: 2%;
}

#rupee{
    color: #020E39 ;
    margin-left: 5%;
    font-weight: bold;
    font-size: 105%;
    padding: 0%;
}
.subyBox2 details{
    margin: 5%;
}

.rating{
    margin-left: 5%;
    padding: 2%;
    font-size: 70%;
}

#star{
    color: #F7FF4C ;
    margin: 0%;
}
.address{
    margin: 5% 6%;
    font-size: 76%;
}

.usery{
    margin-top: 1%;
    width: 70%;
    height: 108px;
}
#user-1,#user-2{
    width: 50%;
    margin-left: 5%;
}
.heart{
    float: left;
    margin-top: -5%;
    margin-right: 40%;
    color: black;
    cursor: pointer;
}



.title:hover{
    box-shadow: 5px 5px 5px 5px;
    cursor:pointer;

}
@media screen and (max-width: 800px){
    .Boxy1{
        width: 28%;
    }
}
@media screen and (max-width: 600px){
    .Boxy1{
        width: 40%;
        margin: 5%;
    }
}
@media screen and (max-width: 430px){
    .Boxy1{
        width: 80%;
        margin: 10%;
    }
}