#greet_nav_current{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 8%;
}
#greet{
	width: 100%;
	margin-bottom: 3%;
	font-size: 1.5rem;
	background-color: #04E744;
	border: 1px solid black;
	color: #010E25;
	border-radius: 10px;
	box-shadow: 1px 1px black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#photo{
	color: yellow; 
	font-size: 2.5rem; 
}
/*-----------------------------------------------------------------*/
#menu{
	display: none;
}
#vertical_navbar{
	width: 120%;
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
	box-shadow: 1px 1px grey;
}
.acc{
	list-style: none;
	background-color: #04E744;
	border: 1px solid black;
	color: #010E25;
	border-radius: 10px;
	padding: 5%;
	font-size: 1.3rem;
}
.acc a li{
	padding: 5%;
}
.acc a{
	color: black;
	text-decoration: none;
}
.acc a:hover li,.activenav{
	color: blue;
	background-color: #61FE9B;
}
/*-----------------------------------------------------------------*/
.current{
	width: 50%;
	padding: 2%;
	background-color: #04E744;
	border: 1px solid black;
	color: #010E25;
	border-radius: 10px;	
	box-shadow: 1px 1px grey;
}
.current h3{
	letter-spacing: 1.5px;
	font-size: 1.3rem;

}
.current a{
	text-decoration: none;
	color: blue;
}
.current form input[type=text],.current form input[type=email],.current form input[type=file],.current form input[type=file],.current form input[type=number],.current form label,.current form p,.current form textarea,.current form select{
	font-size: 1rem;
	padding: 1%;
}

.current form input[type=text],.current form input[type=email],.current form input[type=file],.current form input[type=file],.current form input[type=number],.current form textarea,.current form select{
	border: 1px solid darkblue;
	border-radius: 5px;
}
.current form input[type=file]{
	background-color: white;
	border: 1px solid darkblue;
	border-radius: 5px;
	font-size: 0.8rem;
	padding: 1%;
	width: 80%;
}
.save{
	text-align: center;
	display: none;
	font-weight: bolder;
}
.save a{
	padding: 1% 5%;
	border: 1px solid #600243;
	border-radius: 3px;
	background-color: #AFA406;
	font-size: 1.1rem;
	text-decoration: none;
	color: white;
}
.save a:hover{
	background-color:  #5F5902 ;
}


/*----------------------------------------------------------*/

footer{
	background-color: #518003;
	color: #010E25;
	margin-top: auto;
	width: 100%;
}
footer a{
	color: #010E25;
	cursor: pointer;
}
#copy{
	font-size: 90%;
}
#copy p{
	float: right;
}
#icons{
	font-size: 100%;
}
@media screen and (max-width: 1100px){
	#photo{
		font-size: 2rem;
	}
}


@media screen and (max-width: 800px){
	#greet,.acc{
		font-size: 1rem;
	}
	.current h3{
		font-size: 1.1rem;
	}
	.current form input[type=text],.current form input[type=email],.current form input[type=file],.current form input[type=file],.current form input[type=file],.current form input[type=number],.current form label,.current form p,.current form textarea,.current form select{
		font-size: 0.8rem;
	}
	.current form input[type=text],.current form input[type=email],.current form input[type=file],.current form input[type=file],.current form input[type=file],.current form input[type=number],.current form textarea,.current form select{
		font-size: 0.8rem;
	}
	
}

@media screen and (max-width: 500px){
	#photo{
		display: none;
	}
	#greet_nav{
		display: none;
		width: 30%;
	}
	#menu{
		display: block;
	}
	#greet,.acc{
		font-size: 1rem;
	}
	.current{
		width: 80%;
	}
	.current h3{
		font-size: 1.1rem;
	}
	.current form input[type=text],.current form input[type=email],.current form input[type=file],.current form input[type=file],.current form input[type=number],.current form label,.current form p,.current form textarea,.current form select{
		font-size: 0.8rem;
	}
	.current form input[type=text],.current form input[type=email],.current form input[type=file],.current form input[type=file],.current form input[type=number],.current form textarea,.current form select{
		font-size: 0.8rem;
	}
}
